<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com/curi/mybatis/CuriMapper.xml">


	<!-- Index -->
	<select id="bestView1" resultType="com.curi.dto.ProductDTO">
		<![CDATA[SELECT * FROM (SELECT * FROM curi_product ORDER BY p_purchasecnt DESC) WHERE ROWNUM<=4]]>
	</select>

	<select id="newView" resultType="com.curi.dto.ProductDTO">
		<![CDATA[SELECT * FROM (SELECT * FROM curi_product ORDER BY p_indate DESC) WHERE ROWNUM<=4]]>
	</select>
	
	<select id="ProductDetailView" parameterType="int" resultType="com.curi.dto.ProductDTO">
		
		<![CDATA[SELECT * FROM curi_product
				 WHERE p_code = #{p_code}]]>
	</select>
		
		
		
		
	<!-- NewPage -->
	<select id="new_BestView" resultType="com.curi.dto.ProductDTO">
		<![CDATA[SELECT * FROM (SELECT * FROM curi_product ORDER BY p_indate DESC) WHERE ROWNUM<=3]]>
	</select>
	
	<select id="new_ListView1" resultType="com.curi.dto.ProductDTO">
		<![CDATA[SELECT * FROM (SELECT * FROM curi_product ORDER BY p_indate DESC) WHERE ROWNUM<=4]]>
	</select>
	
	 <select id="new_ListView2" resultType="com.curi.dto.ProductDTO">
		<![CDATA[SELECT * FROM (SELECT ROWNUM numrow, aa.* FROM(SELECT * FROM curi_product ORDER BY p_indate DESC)aa) WHERE numrow > 4 and numrow <= 8]]>
	</select>
	
	<select id="new_ListView3" resultType="com.curi.dto.ProductDTO">
		<![CDATA[SELECT * FROM (SELECT ROWNUM numrow, aa.* FROM(SELECT * FROM curi_product ORDER BY p_indate DESC)aa) WHERE numrow > 8 and numrow <= 12]]>
	</select>
	
	
	
	
	
	
	<select id="BestView"  parameterType="String" resultType="com.curi.dto.ProductDTO">
		<![CDATA[
		SELECT * FROM (SELECT * FROM curi_product
	                WHERE p_code>0
	                AND P_IMG LIKE '%' || #{keyword}||'%' ORDER BY p_code DESC)
	    WHERE ROWNUM<=3]]>
	</select>
	
	
	<select id="ListView1"  parameterType="String" resultType="com.curi.dto.ProductDTO">
		<![CDATA[
		SELECT * FROM (SELECT * FROM curi_product
	                WHERE p_code>0
	                AND P_IMG LIKE '%' || #{keyword} ||'%' ORDER BY p_code DESC) 
	    WHERE ROWNUM<=4
		]]>
	</select>
	
	 <select id="ListView2"  parameterType="String" resultType="com.curi.dto.ProductDTO">
		<![CDATA[
		 SELECT * FROM (SELECT ROWNUM numrow, aa.* FROM(
       		 SELECT * FROM (SELECT * FROM curi_product
                WHERE p_code>0
                AND P_IMG LIKE '%' || #{keyword} ||'%' ORDER BY p_code DESC)
       		 )aa)
         WHERE numrow > 4 and numrow <= 8
		]]>
	</select>
	
	
	<select id="ListView3" parameterType="String" resultType="com.curi.dto.ProductDTO">
	
	<![CDATA[
		 SELECT * FROM (SELECT ROWNUM numrow, aa.* FROM(
       		 SELECT * FROM (SELECT * FROM curi_product
                WHERE p_code>0
                AND P_IMG LIKE '%' || #{keyword} ||'%' ORDER BY p_code DESC)
       		 )aa)
         WHERE numrow > 8 and numrow <= 12
		]]>
	
	</select>
	
	
	
	
	
	
	
	
	
	<!-- ========================================================== -->
	<!-- 회원관련 동작 -->
	
	<insert id="inserMember" parameterType="com.curi.dto.MemberDTO">
		INSERT INTO member(id, pw, name, phone, zipcode, addr1, addr2, email) 
		VALUES(#{id},#{pw},#{name},#{phone},#{zipcode},#{addr1},#{addr2},#{email})
	</insert>

	<select id="confirmId" parameterType="String" resultType="String">
		SELECT id FROM member WHERE id= #{userid}
	</select>
	
	<select id="confirmPw" parameterType="com.curi.dto.MemberDTO" resultType="String">
		SELECT id FROM member WHERE id= #{id} AND pw=#{pw}
	</select>
	
	<select id="loginCheck" parameterType="com.curi.dto.MemberDTO" resultType="com.curi.dto.MemberDTO">
		SELECT * FROM member WHERE id= #{id} AND pw=#{pw}
	</select>
	
	<select id="updateMember" parameterType="com.curi.dto.MemberDTO">
		UPDATE member set 
		pw =#{pw}, name=#{name}, phone=#{phone}, zipcode=#{zipcode}, addr1=#{addr1}, addr2=#{addr2}, email=#{email} 
		where id=#{id} 
	</select>
	
	<select id="updatePw" parameterType="com.curi.dto.MemberDTO">
		UPDATE member SET pw=#{pw} where id=#{id}
	</select>
	
	<delete id="deleteMember" parameterType="String">
		DELETE FROM member WHERE id = #{userid}
	</delete>
	
	<!-- ========================================================== -->
	
	<!-- 게시판 관련 동작 -->
	
	<select id="countPaging" resultType="int">
		<![CDATA[SELECT count(bno) FROM curiboard WHERE bno > 0 ]]>
        
		                <if test='flag=="1"'>
		                	<![CDATA[AND title LIKE '%' || #{keyword}||'%']]> 
						</if>

						<if test='flag=="2"'>
		                	<![CDATA[AND writer LIKE '%' || #{keyword}||'%']]> 
						</if>			                 

						<if test='flag=="3"'>
		                	<![CDATA[AND content LIKE '%' || #{keyword}||'%']]> 
						</if>

						<if test='flag=="4"'>
		                	<![CDATA[AND title LIKE '%' || #{keyword}||'%' OR content LIKE '%' || #{keyword}||'%']]> 
						</if>
	</select>
	
	<select id="boardlist" resultType="com.curi.dto.BoardDTO">
		<![CDATA[SELECT * FROM (SELECT rownum rnum, 
       			 a.*
       			 FROM (SELECT *
		               	 FROM curiboard
		                 WHERE bno>0 ]]>               
		                 
		                <if test='flag=="1"'>
		                	<![CDATA[AND title LIKE '%' || #{keyword}||'%']]> 
						</if>

						<if test='flag=="2"'>
		                	<![CDATA[AND writer LIKE '%' || #{keyword}||'%']]> 
						</if>			                 

						<if test='flag=="3"'>
		                	<![CDATA[AND content LIKE '%' || #{keyword}||'%']]> 
						</if>

						<if test='flag=="4"'>
		                	<![CDATA[AND title LIKE '%' || #{keyword}||'%' OR content LIKE '%' || #{keyword}||'%']]> 
						</if>
						
						<if test='code=="new"'>
							ORDER BY bno DESC
						</if>
						
						<if test='code=="good"'>
							ORDER BY goodcnt DESC, bno DESC
						</if>
						
						<if test='code=="reply"'>
							ORDER BY replycnt DESC, bno DESC
						</if>
						
						<if test='code=="cnt"'>
							ORDER BY viewcnt DESC, bno DESC
						</if>						
		  <![CDATA[
    					) a 
 					)
				 WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}]]> 
	</select>
	
	<select id="boardDetailView" resultType="com.curi.dto.BoardDTO">
		
		<![CDATA[SELECT * FROM curiboard
				 WHERE bno = #{bno}]]>
	</select>		
	
	<update id="viewCnt">
		
		<![CDATA[UPDATE curiboard SET viewcnt = viewcnt+1 WHERE bno = #{bno}]]>
		
	</update>
	
	<insert id="boardInsert" parameterType="com.curi.dto.BoardDTO">
	
		 
		<choose>
			<when test="content !=null">
				INSERT INTO curiboard(bno,title,content,writer,filename,filesize)
				VALUES(seq_curiboard.NEXTVAL,#{title},#{content},#{writer},#{filename},#{filesize})
			</when>
			<otherwise>
				INSERT INTO curiboard(bno,title,writer,filename,filesize)
				VALUES(seq_curiboard.NEXTVAL,#{title},#{writer},#{filename},#{filesize})
			</otherwise>
		</choose>
	</insert>
	
	<select id="boardUpdate" parameterType="com.curi.dto.BoardDTO">
			<choose>
			<when test="content !=null">
				
				UPDATE curiboard SET title=#{title},writer=#{writer},
				<if test="filename != 'no'">
					filename = #{filename},
					filesize = #{filesize},
				</if>
					content=#{content}
					 where bno=#{bno}
			</when>
			<otherwise>
				
				UPDATE curiboard SET title=#{title},writer=#{writer},
				<if test="filename != 'no'">
					filename = #{filename},
					filesize = #{filesize}
				</if>
					where bno=#{bno}
			</otherwise>
		</choose>
	</select>	
	
	<delete id="boardDelete" parameterType="int">
		DELETE FROM curiboard WHERE bno = #{bno}
	</delete>
	
	<!-- ========================================================== -->
	
	<!-- 댓글 -->
	<select id="replyListAll" parameterType="String" resultType="com.curi.dto.ReplyDTO">
		SELECT * FROM curireply
		WHERE bno = #{bno}
		ORDER BY rno ASC
	</select>
	
	<delete id="replyDelete" parameterType="String">
		DELETE FROM curireply WHERE rno = #{rno}
	</delete>
	
	
	<insert id="replyInsert"  parameterType="com.curi.dto.ReplyDTO">
	
	INSERT INTO curireply(rno,writer,content,bno)
	VALUES(seq_curireply_rno.NEXTVAL,#{writer},#{content},#{bno})
	
	</insert>
	
	<update id="rpPlus">
		UPDATE curiboard SET replycnt = replycnt+1
		WHERE bno = #{bno}
	</update>
	
	<update id="rpMinus">
		UPDATE curiboard SET replycnt = replycnt-1
		WHERE bno = #{bno}
	</update>
	
	
	
	<update id="replyUpdate" parameterType="com.curi.dto.ReplyDTO">
		UPDATE curireply SET content = #{content}
		WHERE rno = #{rno}
	</update>
	
	<!-- ========================================================== -->
	
	<!-- 상품평 -->
	<insert id="p_comment_Insert"  parameterType="com.curi.dto.ProductCommentDTO">
	 
		INSERT INTO curi_PRO_REPLY(RNO,WRITER,CONTENT,P_CODE) 
		VALUES(seq_P_RNO.NEXTVAL,#{writer},#{content},#{p_code})
	
	</insert>
	
	
	<select id="Commentlist" parameterType="String" resultType="com.curi.dto.ProductCommentDTO">
	
	<![CDATA[
		SELECT * FROM curi_PRO_REPLY
		WHERE P_CODE = #{p_code}
		ORDER BY rno ASC
	]]>
	
	</select>

	<update id="pcPlus"  parameterType="com.curi.dto.ProductCommentDTO">
		UPDATE curi_product SET replycnt = replycnt+1
		WHERE p_code = #{p_code}
	</update>
	
	<update id="pcMinus"  parameterType="com.curi.dto.ProductCommentDTO">
		UPDATE curi_product SET replycnt = replycnt-1
		WHERE p_code = #{p_code}
	</update>
	
	<delete id="commentDelete" parameterType="String">
		DELETE FROM curi_PRO_REPLY WHERE rno = #{rno}
	</delete>
	
	<update id="commentUpdate"  parameterType="com.curi.dto.ProductCommentDTO">
		UPDATE curi_PRO_REPLY SET content = #{content} WHERE rno = #{rno}
	</update>
	
	<!-- ========================================================== -->
	
	<!-- 찜하기 -->
	
	
	<select id="Wishlist" parameterType="String" resultType="com.curi.dto.WishDTO">
	
	<![CDATA[
		SELECT * FROM curi_wish WHERE id = #{id} ORDER BY wno ASC
	]]>
	</select>


	<insert id="WishInsert"  parameterType="com.curi.dto.WishDTO">
	 
		INSERT INTO curi_wish(wno,id,selec,p_code) 
		VALUES(seq_wno.NEXTVAL,#{id},#{selec},#{p_code})
	
	</insert>
	
	
	<update id="GoodCntPlus"  parameterType="com.curi.dto.WishDTO">
		UPDATE curi_product SET P_GOODCNT = P_GOODCNT+1
		WHERE p_code = #{p_code}
	</update>
	
	
	
	
	<delete id="WishDelete" parameterType="String">
		DELETE FROM curi_wish WHERE wno = #{wno}
	</delete>

	
	<update id="GoodCntMinus"  parameterType="com.curi.dto.WishDTO">
		UPDATE curi_product SET P_GOODCNT = P_GOODCNT-1
		WHERE p_code = #{p_code}
	</update>


</mapper>